<input
  type="search"
  class="form-control w-50"
  placeholder="Search.."
  [(ngModel)]="searchText"
  style="height: 39px"
/>

<div
  class="d-flex justify-items-center align-items-center gap-1"
  *ngFor="let check of ['title', 'description']"
>
  <input
    type="radio"
    name="radio"
    id="{{ check }}"
    (click)="searchPropsHandler(check)"
  />
  <label for="{{ check }}" class="fw-bold">{{ check }}</label>
</div>

<div class="row d-flex me-3">
  <app-product-card
    class="d-flex flex-wrap col-3 mb-3"
    *ngFor="let product of products | filter: searchText || '':searchProps"
    [productData]="product"
  ></app-product-card>
</div>
